@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,800;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #262a41;
    --text: #ffffff;
    --download: #7946c1;
    --icons: #babdd1;
    --allusers: #f935a9;
    --maleuser: #30bbb5;
    --femaleuser: #7946c1;
    --imgborder: #75d6d1;
    --routebtnshadow: #30bbb574;
    --random: #323874;
    --shadow: #00000029;
    --search: #3c3f54;
    --global-bg: #f7f7ff;
    --btnroute: #30bbb5;
    --pageshadow: #0000001a;
}

body {
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

@media screen and (min-device-width: 320px) and (max-width: 992px) {
    .container {
        display: flex;
        flex-flow: column;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .container > section:first-child {
        width: 100vw;
        margin: auto;
        padding: 1.325rem;
        left: 0rem;
    }
    .container > section:last-child {
        width: 90vw;
        margin: auto;
        padding: 1.875rem;
    }
}
